
.plateau {
    display: grid;
    grid-template-columns:  20px repeat(8, 1fr) 20px;
    grid-template-rows:  20px repeat(8, 1fr) 20px;
    /*grid-gap: 5px;*/
    /*
    width: 50vw;
    height: 50vw;
    */
    /*
    height: 0;
    width:50%;
    padding-bottom:50%;
    position: relative;
    */
    width: 95vh;
    height: 95vh;

    background-color: #F5F5DC;
    outline:  1px solid black;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3.5rem;
}

.side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.black {
    background-color: #783800;
}
.cell.white {
    background-color: rgb(238, 182, 107);
}

.cell:hover {
    outline: 3px red solid;
    transform: scale(1.03);
    z-index: 100;
}
.cell.selected {
    outline: 3px red solid;
    z-index: 80;
}

.cell.selected {

}

.piece.noir {
    color: black;
}
.piece.blanc {
    color: white;
}
